<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>First Number is: <%= firstNumber %></p>
    <p>Second Number is: <%= secondNumber %></p>
    <p>Operator is: <%= operation %></p>
  </body>
</html>
