body {
    background-image: url(https://assets.website-files.com/5b454feb485cea52095594db/5c0eeba5abacff49b3925881_Blue-Background.jpg);
}

.wrapper {
    width: 80%;
    height: 80%;
    margin: 5% 10% 5% 10%;
    background-color: steelblue;
}

img {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imageWithinText {
    overflow: auto;
}

footer {
    text-align: center;
    color: white;
}

article {
    border-radius: 10%;
    background: #8a8aa8;
    padding: 5% 5% 5% 5%;
    box-shadow: 0 0 5pt 5pt lightblue;
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}

h2 {
    font-size: 150%;
    text-decoration: underline;
    margin-left: 5%;
}

.logo {
    max-width: 80%;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 8%;
    outline-style: ridge;
    outline-color: dimgrey;
}

a:hover {
    text-decoration-color: forestgreen;
    color: white;
}
